name: Build Bin

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:


jobs:
  build:
    strategy:
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Cache APT packages
        uses: actions/cache@v5
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/build-bin.yml') }}

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3 python3-lxml python3-venv python3-pip python3-dev \
            python3-gi python-gi-dev libgirepository-2.0-dev gir1.2-gtk-4.0 gir1.2-adw-1 \
            libadwaita-1-dev \
            libsoup-3.0-dev \
            blueprint-compiler \
            meson ninja-build build-essential pkg-config \
            gettext desktop-file-utils

      - name: Setup Python virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip

      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: |
          source venv/bin/activate
          pip3 install -r requirements.txt

      - name: Setup project
        run: |
          git submodule update --init --recursive
          meson setup build --prefix "$GITHUB_WORKSPACE/dist"

      - name: Build project
        run: |
          ninja -C build

      - name: Install project
        run: |
          ninja -C build install

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: gradience
          path: dist/**/*
